# ASSIGNMENT 2

In [ ]:
## Function

1. write a function add_number that takes two number as argument and returns their sum

In [16]:
def add_numbers(num1, num2):
    return num1 + num2
number1 = 8
number2 = 10
sum= add_numbers(number1, number2)
print("the sum of",number1,"and" , number2,"is:" ,sum)

the sum of 8 and 10 is: 18

2. write a function multiply_number that takes two number as argument and returns their product

In [17]:
def multiply_numbers(num1, num2):
    return num1 * num2
number1 = 2
number2 = 10
product= multiply_numbers(number1, number2)
print("the multiply of",number1,"and" , number2,"is:" ,product)

the multiply of 2 and 10 is: 20

3. write a function divide_number that takes two number as argument and returns their quotient.make sure to handle the case where the second number is 0

In [20]:
def divide_numbers(num1, num2):
    if num2 == 0:
        print("Cannot divide by zero")
        return None
    else:
        return num1 / num2
number1 = 23
number2 = 5

quotient = divide_numbers(number1, number2)
if quotient is not None:
    print("the divide of",number1,"and", number2,"is:",quotient)

the divide of 23 and 5 is: 4.6

4. write a function calculate_average that takes a list of numbers as an argument and returns their average

In [1]:
def calculate_average(numbers):
    return sum(numbers) / len(numbers)

my_list = [9, 20, 15, 29, 45]
average = calculate_average(my_list)
print("The average of the list", my_list, "is:", average)

The average of the list [9, 20, 15, 29, 45] is: 23.6

5. write a function is_prime that takes a number as an argument and retuns true if the number is prime and false otherwise

In [17]:
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False 
    return True 
num = 23
Outcome = is_prime(num)
print(num, "is prime:",Outcome)

23 is prime: True

In [ ]:
##OOPs

create a class bank attributes name and accounts.add methodes add_account, remove_account and get_total_balance that add an account as list , remove an account from the list, and return the total balance of all account ,respectivetly.

In [7]:
class Bank:
    def __init__(self, name):
        self.name = name
        self.accounts = []

    def add_account(self, account):
        self.accounts.append(account)

    def remove_account(self, account):
        if account in self.accounts:
            self.accounts.remove(account)
        else:
            print("Unable to find the account")

    def get_total_balance(self):
        total_balance = 0
        for account in self.accounts:
            total_balance += account
        return total_balance
bank = Bank("indian Bank")

bank.add_account(5000)
bank.add_account(8000)

print("Overall bank balance:", bank.get_total_balance())

bank.remove_account(8000)

print("Overall bank balance in the bank after removing an account:", bank.get_total_balance())

Overall bank balance: 13000
Overall bank balance in the bank after removing an account: 5000